{%  extends 'tasks/task_base.html' %}
{% block content %}
<div>
    <h2><a href={% url 'tasks' %}>{{ task.render_for_template }}</a></h2>
    <div>
         <ul>
            {% for time_entry in task.time_entries.all %}
                <li>{{ time_entry.render_for_template}}</li>
            {% endfor %}
        </ul>
    </div>
    {% if task.running %}
        <form action="{% url 'task_finish' task.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Finish">
        </form>
    {% else %}
        <form action="{% url 'task_restart' task.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Restart">
        </form>
    {% endif %}
</div>
{% endblock %}
